name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm ci

      - name: Build Project
        run: npm run build

      - name: Deploy to Firebase
        # Usamos a variável secreta que você salvou no GitHub
        run: npx firebase-tools deploy --token ${{ secrets.FIREBASE_TOKEN }} --non-interactive